.base {
  padding: var(--padding-s);
  font-weight: 600;
  border: none;
  border-radius: var(--border-radius-xs);
  cursor: pointer;

  &:not(:last-child) {
    margin-right: var(--padding-s);
  }
}

.dark {
  color: var(--color-basic-black);
}

.light {
  color: var(--color-basic-white);
}

.primary {
  background-color: var(--color-primary, darkgrey);

  &:hover {
    opacity: 0.8;
  }
}

.secondary {
  background-color: var(--color-secondary, lightgrey);

  &:hover {
    opacity: 0.8;
  }
}
